In [3]:
import pyspark
import pandas as pd

In [35]:
sc = pyspark.SparkContext(appName="ejemplo")

rdd = sc.textFile("input/NASDAQsample.csv")

resultado = rdd.map(lambda x: x.split(",")[7]).map(lambda x: float(x)).takeOrdered(10, key=lambda x: -x)

resultado

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=ejemplo, master=local[*]) created by __init__ at /tmp/ipykernel_16421/3261378171.py:1

In [29]:
df=pd.read_csv("input/NASDAQsample.csv",header=None)
df.head(5)

        0     1           2     3     4     5     6       7     8
0  NASDAQ  ABXA  2009-06-05  2.34  2.40  2.16  2.25  362600  2.25
1  NASDAQ  ABXA  2008-06-30  0.96  1.02  0.93  1.00  359900  1.00
2  NASDAQ  ABXA  2008-04-18  2.88  2.88  2.71  2.79  505300  2.79
3  NASDAQ  ABXA  2008-04-14  2.83  2.95  2.83  2.85  324600  2.85
4  NASDAQ  ABXA  2008-02-01  3.57  3.85  3.57  3.85  414300  3.85

In [32]:
# Ordenar el DataFrame por la columna 7 en orden descendente y seleccionar las 10 primeras filas
top10 = df.sort_values(by=7, ascending=False).head(10)

# Seleccionar las columnas 2, 3 y 7 del DataFrame filtrado
resultado = top10.iloc[:, [1, 2, 7]]

In [33]:
resultado

          1           2          7
24238  DELL  1996-12-06  244489600
24252  DELL  1994-03-02  218867200
62868  QCOM  1999-04-21  196297600
63130  QQQQ  2007-08-06  190869100
24247  DELL  1994-09-16  177632000
63127  QQQQ  2008-07-14  177389800
63125  QQQQ  2008-10-01  174033300
24245  DELL  1995-06-15  171667200
24258  DELL  1992-03-12  171225600
19146  CSCO  1993-09-01  168674400